.ctr-pages h3{
  font-size: 24px;
  // padding-left: 64px;
}

// utilisé sur le bouton "mes résultats" page indicators
.center{
  margin-left: 38%;
  width: 25%;
  margin-bottom: 50px;
  margin-top: 24px;
}

@media (max-width: 1300px) {
  .center{
    margin-left: 25%;
    width: 45%;
  }
}
