.ctr-pages h3{
  font-family: $headers-font;
  font-size: 21px;
  font-weight: 400;
  padding-bottom: 12px;
}

.center{
  margin-left: 38%;
  width: 25%;
}

@media (max-width: 1300px) {
  .center{
    margin-left: 25%;
    width: 45%;
  }
}
