<div class="ctr-homepage">
  <div class="banner">
    <div class="justify-content-center">
      <div class="text-banner">
        <h1 class="text-shadow">Trouvez votre futur quartier</h1>
        <p>Selon <span id="span-banner">vos</span> critères !</p>
      </div>
    </div>
  </div>


  <div class="col-6 offset-4 ">
    <div class="mt-5 form-search">
    <%= simple_form_for(@search) do |f| %>
       <%= f.input :address,
              label: 'Lieu de référence',
              input_html: { data: { geocoder_target: "address" }, class:"d-none mt-5 dropup" },
              wrapper_html: { data: { controller: "geocoder", geocoder_api_key_value: ENV['MAPBOX_API_KEY'], form_search_target: 'address' } } %>

      <div data-controller="new-searches">
        <div class="d-flex w-100">
          <input type="range"
                  name="search[duration]"
                  class="range-duration"
                  value= "30"
                  min="0"
                  max="60"
                  step="1"
                  data-action= "change->new-searches#update">
          <p class= "pl-12" data-new-searches-target= "duration">30</p><span> min</span>
        </div>
      </div>
         <%= f.input :profile,
                     label: 'Moyen de transport',
                     as: :select,
                     collection: Search::CATEGORIES.map {|cat| [I18n.t("#{cat}"), cat]},
                     input_html: {class:"b-green"}%>
      <%= f.button :submit, 'Je trouve mon quartier',class:"btn-basic orange w-100 mt-3" %>
    <% end %>
    </div>
  </div>
</div>
