.banner {
  background-size: cover;
  background-position: center;
  padding: 80px 0;
  background: $green-color;
  padding: 20 vh;

  .text-banner {
    margin-left: 4%;
    padding-top: 8%;
  }

}

.banner h1 {
  margin: 0;
  color: white;
  font-size: 38px;
  font-weight: bold;
}

.banner p {
  font-size: 24px;
  color: white;
}

span {
  background-color: white;
  border-radius: 4px;
  padding: 4px;
  color: $green-color;
}
