.banner .text-banner {
    padding-top: 8%;
    padding-right: 12%;
    float: right;
    text-align: right;
}

.text-shadow{
  text-shadow: 10px 10px 5px $green-color;
}

.banner h1 {
  margin: 0;
  color: white;
  font-size: 38px;
  font-weight: bold;
  padding-bottom: 16px;
}

.banner p {
  font-size: 24px;
  color: white;
}

#span-banner{
  background-color: $pink-color;
  border-radius: 4px;
  padding: 4px;
  color: white;
}
