// btn-basic à utiliser pour avoir la forme de base du bouton
// rajouter les classes .pink... pour ajouter un background de couleur

.btn-basic{
  opacity: 1;
  padding: 12px 12px;
  text-align: center;
  font-family: $headers-font;
  font-size: 18px;
  color: white;
  border-radius: 4px;
  &:hover{
    color: white;
    // font-size: 18px;
    opacity: 0.9;
  }
}

.btn-filter {
  height: 27px;
  opacity: 1;
  padding: 4px 7px;
  text-align: center;
  font-family: $headers-font;
  color: white;
  border-radius: 10px;
}

.btn-filter > p{
  font-size: 11px;
}

a {
  text-decoration: none;
}

.pink{
  background-color: $pink-color;
}

.orange{
  background-color: $orange-color;
}

// btn-advert de la page mes annonces immo pour harmoniser avec la page
.btn-advert{
  margin-left: 64px;
  width: 250px;
  height: 75px;
}

.btn-save{
  width: 200px;
  height: 50px;
}

.black{
  background-color: black;
}

.green{
  background-color: $green-color;
}
