// btn-basic à utiliser pour avoir la forme de base du bouton
// rajouter les classes .pink... pour ajouter un background de couleur

.btn-basic{
  opacity: 1;
  padding: 12px 12px;
  text-align: center;
  font-family: $headers-font;
  font-size: 21px;
  color: white;
  border-radius: 4px;
  &:hover{
    color: white;
    font-size: 22px;
  }
}

.btn-filter {
  height: 27px;
  opacity: 1;
  padding: 4px 7px;
  text-align: center;
  font-family: $headers-font;
  color: white;
  border-radius: 10px;
}

.btn-filter > p{
  font-size: 11px;
}

a {
  text-decoration: none;
}

.pink{
  background-color: $pink-color;
}

.black{
  background-color: black;
}

.green{
  background-color: $green-color;
}
