// cards for the indicators on views/indicators/index.html.erb
.ctr-cards-indicators{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  display: flex;
  flex: column;
  align-items: center;
}

.ctr-cards{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 24px;
}

.card-indicator{
  margin: 16px;
  padding: 16px;
  width: 80%;
  box-shadow: 10px 10px 12px lightgray;
  border-top: solid 3px $green-color;
  border-radius: 12px;
  color: white;
  letter-spacing: 2px;
  font-size: 21px;
  height: fit-content;
  &:hover{
    border-top: solid 5px $green-color;
    padding-top: 14px;
  }
}

.pl-8{
  padding-left: 8px;
}

.text-indicator{
  font-size: 16px;
  line-height: 18px;
}

.indicator_weight{
  width: 100%;
}

@media (max-width:1300px) {
  input{
    border: 3px solid $green-color;
    width: 48px;
    height: 48px;
    margin-right: 16px;
  }
  .ctr-cards{
    display: column;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}

// card for ads index
.card-pending, .card-liked, .card-disliked{
  padding: 24px;
  border-radius: 12px;
  box-shadow: 10px 10px 12px lightgray;
  position: relative;
  margin-bottom: 24px;
  &:hover{
    border-top: 5px solid $orange-color;
    padding-top: 22px;
  }
}


.fa-heart, .fa-heart-crack{
  font-size: 21px;
}

.fa-xmark{
  position: absolute;
  left: 90%;
  top: 5%;
}

.card-pending{
  border-top: 3px solid $orange-color;
}

.card-liked{
  border-top: 3px solid $green-color;
}

.card-disliked{
  border-top: 3px solid $pink-color;
}

.pink-heart{
  color: $pink-color;
}

.green-heart{
  color: $green-color;
}

.gold-heart{
  color: gold;
}

// hover sur les coeurs pour le update
.green-hover:hover{
  color: $green-color;
}

// hover sur les coeurs pour le update
.gold-hover:hover{
  color: gold;
}

.pink-hover:hover{
  color: $pink-color;
}
// hover sur le pending pour le update de task

.orange-hover:hover{
  color: $orange-color;
}

.orange-list {
  color: $orange-color;
}

// textes des cards sur la page mes annonces immobilières
i, p{
  text-decoration: none;
  color: black;
  line-height: 24px;
}

.pr-12{
  padding-right: 12px;
}


.title-card{
  // font-family: $headers-font;
  // font-size: 18px;
  border-bottom: 2px solid;
  padding-bottom: 12px;
}

a:hover{
  color: $green-color;
}
