// code all your forms here

// style the form => address input on homepage
#geocoder {
  z-index: 1;
  margin: 20px;
  }

.mapboxgl-ctrl-geocoder--input{
  box-shadow: none;
  width: 100%;
  border: solid 3px $green-color;
  height: 64px;
  padding-left: 16px;
}

.mapboxgl-ctrl-geocoder--button{
  display: none;
}

.mapboxgl-ctrl-geocoder--icon, .mapboxgl-ctrl-geocoder--icon-close{
  display: none;
}

.mapboxgl-ctrl-geocoder--pin-right{
  display: none;
}

.mapboxgl-ctrl-geocoder--powered-by a{
  display: none;
}

.suggestions{
  border: solid 3px $green-color;
  padding: 12px;
  margin: 12px 0px;
}

li{
  list-style-type: none;
}

// à mettre dans fichier form
// .ctr-flex à utiliser sur div parent pour ajouter un display flex
.ctr-flex{
  display: flex;
  justify-content: center;
  align-items: center;
}
.b-green{
  border: solid 3px $green-color;
}

.select{
  width: 250px;
}

@media (max-width: 1300px) {
  .ctr-flex{
    flex-wrap: wrap;
  }
  .select{
    width: 100%;
  }

  .btn-basic{
    font-size: 16px;
  }
}

#search_duration, #search_profile{
  background-color: rgba(255, 255, 255, 0.8);
}

.form-search {
  border-radius: 12px;
  box-shadow: 5px 5px 10px lightgray;
  padding: 24px 24px;
  background-color: rgba(255, 255, 255, 0.7);
  position: absolute;
  top: 30%;
  width: 42%;
  left: 48%
}


// range form
// input[type='range']

.range-duration, .range-indicators{
  overflow: hidden;
  width: 100%;
  -webkit-appearance: none;
  background-color: white;
  border-radius: 12px;
  border: solid 2px $green-color;
}

.range-duration {
  height: 25px;
}

.range-indicators{
  height: 15px;
}

input[type='range']::-webkit-slider-thumb {
  width: 12px;
  -webkit-appearance: none;
  height: 12px;
  border-radius: 50%;
  background: $green-color;
  box-shadow:  5px 5px 10px lightgrey;
  &:hover{
    background: $orange-color;
  }
}

// padding left for text duration hp
.pl-12{
  padding-left: 12px;
  padding-right: 4px;
}

// + et - des ranges sur page indicators
.fa-minus, .fa-plus {
  font-size: 12px;
}
