// navbar for all the other pages (EXCEPT HP)
.navbar-lewagon {
  justify-content: space-between;
  height: 100px;
  border-bottom: 1px solid black;
  font-size: 24px;
}


#white-bg{
  color: black;
  background-color: white;
}

#border{
  border: 1px solid black;
  text-align: center;
}


.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 200px;
}

// réduire la taille du h1 de la navbar
// .fs-24{
//   font-size: 24px;
// }

#dropdownMenuLink-black{
  cursor: default;
  color: black;
}

.dropdown-menu {
  border: 1px solid black;
  text-align: center;
}


// navbar2 for homepage
.navbar-lewagon {
  justify-content: space-between;
  background: $green-color;
  height: 100px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

// .navbar-lewagon .navbar-brand img {
//   width: 40px;
// }

// réduire la taille du h1 de la navbar
.fs-24{
  font-size: 38px;
  color: white;
  margin: 0;
  font-weight: bold;
}

#dropdownMenuLink{
  cursor: default;
  color: white;

}

// border at the bottom of navbar
.bb{
  border-bottom: 1px solid $green-color;
}


.dropdown-menu {
  border: 1px solid white;
  text-align: center;
  color: white;
}
