<div class= "ctr-pages">
  <h3>NOTEZ VOS CRITERES SUR 10</h3>
  <div class="ctr-cards">
    <% @indicators.each do |indicator| %>
      <div class="card-indicator px-5" >
        <p class="pt-4"><%= indicator.indicator_title.name %></p>
      <%= simple_form_for(indicator, data: {controller:"search-indicators"}) do |f| %>
        <input type="range"
                name="indicator[weight]"
                class="range-indicators"
                value= "<%= indicator.weight %>"
                min="0"
                max="10"
                step="1"
                data-action= "change->search-indicators#update">
          <h3 data-search-indicators-target= "weight"></h3>
      <% end %>
      </div>
    <% end %>
  </div>
  <%= link_to search_path(params[:search_id]) do %>
    <div class="btn-basic orange center">Mes résultats</div>
  <% end %>
</div>
</div>
