// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
// @import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";


canvas {
  height: 700px
}

body{
  background-color: white;
}

// containers that contain inside of page
// one for homepage
.ctr-homepage{
  position: relative;
}
// to use on the other pages to add margin under navbar

// to use if we want a background image
// .bg-img{
//   background-image: url(bg_hestya.png);
//   background-position: center;
//   background-size: cover;
//   margin: 0px;
// }

.ctr-pages{
  margin-top: 150px;
  margin-left: 64px;
  margin-right: 64px;
  // background-image: url(bg_hestya.png);
  // background-position: center;
  // background-size: cover;
}
<<<<<<< HEAD


h1 h3 {
  font-family: $body-font;
}


body {
  font-family: $headers-font;
}
=======
>>>>>>> 8c60efea4de34aeae4e0c6a8c072a7d4816a9ba2
