// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
// @import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

.mapboxgl-ctrl-attrib {
  display: none
}

#map { 
  position: relative; 
}

.filter-group {
  position: absolute; 
  top: 100px; 
  left: 10px; 
  z-index: 99;
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-right: 20px;
  margin-top: 10px;
}

#over_map_scores { 
  position: absolute; 
  top: 200px; 
  left: 10px; 
  z-index: 99;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 15px;
  padding: 15px;
  align-items: flex-start;
  border: $green-color 0.2em solid;
  margin: 15px;
  label {
    font-size: 10px;
  }
}

canvas {
  height: 95vh;
  width: 100%
}

body{
  background-color: white;
}

// containers that contain inside of page
// one for homepage
.ctr-homepage{
  position: relative;
}
// to use on the other pages to add margin under navbar

// to use if we want a background image
// .bg-img{
//   background-image: url(bg.png);
//   background-position: center;
//   background-size: cover;
//   margin: 0px;
// }

.ctr-pages{
  margin-top: 150px;
  margin-left: 64px;
  margin-right: 64px;
  // background-image: url(bg_hestya.png);
  // background-position: center;
  // background-size: cover;
}

h1 h3 {
  font-family: $body-font;
}


body {
  font-family: $headers-font;
}
